td {
  border: solid;
  border-width: 2px;
  width: 90px;
  height: 35px;
  text-align: center
}

tr {
  border: solid;
}

.score {
  font-size: 20px;
  font-weight: 900;
}

.frameScores {
  font-size: 20px;
  font-weight: 900;
  color: blue;
  border-color: black;
}

#final {
  font-size: 30px;
  font-weight: 900;
}