td {
  border: solid;
  height: 50px;
  width: 50px;
}

table {
  border: solid;
}

#announcements {
  font-size: 40px;
  font-weight: 700;
}

.P1 {
  background-color: red;
}

.P2 {
  background-color: blue;
}

.P1, .P2 {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 5px;
}